body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#title {
  text-align: center;
  font-size: 2em;
  padding: 1em 0em 0em 0em;
}

.subtitle {
  margin: .5em;
  font-size: .7em;
  /* font-weight: bold; */
}
.note {
  font-size: .6em;
}
#heat-map {
  margin: 1.5em 1.5em 0 1em;
}

#legend {
  margin: 0 1em 0 1em;
}

.tick > text {
  font-size: 1.6em;
}

.cell {
  margin: 0;
  padding: 0;
  stroke: none;
}
.cell:hover {
  cursor: default;
}

#tooltip {
  position: absolute;
  background-color: black;
  padding: .5em;
  color: white;
  text-align: center;
  border-radius: 5px;
  line-height: 130%;
}
